@import "../../vars.css";

.container {
  margin-left: 10%;
  margin-right: 10%;
  color: var(--color-text);
  margin-top: 79px;
}

.title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}
